<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Karpicentro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Ultragamma.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/7f625253aa.js" crossorigin="anonymous" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

</head>
<body>
    <header class="site-header sticky-top py-1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#">Karpicentro</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link active" href="@Url.Action("Index", "Productos", new { valor = "Salas" })">Salas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link active" href="@Url.Action("Index", "Productos", new { valor = "Cocinas" })">Cocinas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link active" href="@Url.Action("Index", "Productos", new { valor = "Recamaras" })">Recamaras</a>
                        </li>
                    </ul>
                    <div class="dropdown text-end" style="padding-left: 100px">
                        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="@ViewBag.FotoPerfil" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Inicio">@ViewBag.Nombre</a></li>
                            <li><hr class="dropdown-divider"></li>
                            @if (ViewBag.Nivel == "Admin")
                            {
                                <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Inicio"><i class="fa-solid fa-right-to-bracket"></i>Administración</a></li>
                                <li><hr class="dropdown-divider"></li>
                            }
                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CerrarSesion"><i class="fa-solid fa-right-to-bracket"></i>  Cerrar Sesión</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
